:root{
    --blue-color: #473BF0;
    --black-purple-color: #290628;
    --white-pink-color: #FDF7FA;
    --white-color: #FFFFFF;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;

}

.wrapper {
    max-width: 1145px;
    margin: 0 auto;
}

/* buttons */

.btn-desktop {
    padding: 16px 32px;
    border-radius: 16px;
    background-color: #473BF0;
    color: #FDF7FA;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

.btn-desktop.right-arrow::after {
    content: url("images/right_arrow.svg");
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-40%);   
}
.btn-desktop.right-arrow {
    padding-right: 60px;

}

/* header */

header {
    background: linear-gradient(310.47deg, #FDF7FA 43.38%, rgba(71, 59, 240, 0.25) 100%);
    height: 100vh;
    width: 100%;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1145px;
    top: 0px;
    padding: 36px 0;
    z-index: 100;
    transition: all 500ms ease;
}

nav.scrolled {
    background-color: #FFFFFF;
    box-shadow: 0 16px 14px -8px rgba(71, 59, 240, 0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 18px 50px;
}

nav .logo {
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #473BF0;
    filter: drop-shadow(0px 4px 8px rgba(71, 59, 240, 0.3));
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
    filter: drop-shadow(0px 4px 8px rgba(71, 59, 240, 0.3));
}
nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #290628;
    text-decoration: none;
    filter: drop-shadow(0px 4px 8px rgba(71, 59, 240, 0.3));
}

/* hero section */
.hero-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.hero-section .left p {
    font-family: 'Montserrat' , sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #290628;
    margin-bottom: -40px;
}
.hero-section .left h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 125%;
    color: #290628;
    margin-bottom: 0px;
}
.hero-section .left h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 200%;
    color: #290628;
    margin-bottom: -20px;
}
.hero-section .left p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #290628;
}

.hero-section .left {
    width: 477px;
}
.hero-section .right {
    align-self: flex-end;
}
.hero-section .right img {
    height: 550px;
    margin-right: 120px;
    vertical-align: middle;
}

/* Work section */
.work-section {
    background-color: #290628;
}

p.description {
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 500%;
    color: #473BF0;    
    margin-top: 0px;  
    padding-top: 50px;
}


h2.light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 125%;
    margin: 0px;
    color: #FDF7FA;
    padding: 0px;
    margin-top: -20px;
    margin-bottom: -10px;
}

.work-section .case-cards {
    display: flex;
    gap: 120px;
    padding: 75px 100px;
}

.work-section .case-cards img {
        width: 100%;
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
        border-radius: 24px;        
}

.work-section .case-card {
    background: #FDF7FA;
    border: 20px solid #FDF7FA;
    border-radius: 30px;
    margin: 20px 0;
}

.work-section .case-card h3 {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%; 
    margin-left: 15px;
}
.work-section .case-card p {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;   
    margin-left: 15px;
    margin-top: -20px; 
    
 }

 .work-section .case-card a {
    margin: 20px 61px;

 }

 /* about section */

 .about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .about-me .left p.description {
    line-height: 500%;
    margin-top: -150px;  
    padding-top: -50px;
 }

 .about-me .left h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 125%;
    margin: 0px;
    color: #290628;
    padding: 0px;
    margin-top: -20px;
    margin-bottom: -10px;   
 }

 .about-me .left p {
    padding-right: 100px;
    margin-top: 60px;
 }

 .about-me .right img {
    margin-right: 120px;
    vertical-align: middle;
    margin-top: 75px;
    margin-bottom: 100px;
 }

 /* Connect Section */

 .contact {
    background-color: #290628;
    padding: 100px 0;
 }

 .contact h2.light {
    text-align: center;
 }

 .contact p {
    color: #FDF7FA;
    text-align: center;
    padding: 30px 0;
 }

.contact a {
    text-align: center;
    margin-left: 410px;
}
.contact .icons .linkedin img {
    margin-top: 50px;
    margin-left: 115px;
}

.contact .icons .insta img {
    margin-left: -360px;
}

.contact .wrapper h3 {
    color: #FDF7FA;
    text-align: center;
    margin-top: 100px;
    margin-bottom: -70px;
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
